asgiref==3.3.4
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
Django==3.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.0
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.25.0
mysqlclient==2.0.3
pycparser==2.20
PyMySQL==1.0.2
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.15
sqlparse==0.4.1
Werkzeug==1.0.1
WTForms==2.3.3
