{% extends 'layout.html' %}

{% block head %}
  <title>latihan-flask | Data Mahasiswa</title>
{% endblock %}

{% block body %}
<!-- Tabel Data Mahasiswa -->
<div class="container">
  <br><br>
  <h1>Data Mahasiswa</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">NAMA</th>
        <th scope="col">NIM</th>
        <th scope="col">ALAMAT</th>
        <th scope="col">HAPUS EDIT</th>
      </tr>
    </thead>
    <tbody>
      {% for baris in data %}
      <tr>
        <td>{{ baris.nama }}</td>
        <td>{{ baris.nim }}</td>
        <td>{{ baris.alamat }}</td>
        <td>
          <a class="btn btn-danger" href="datamahasiswa/hapus/{{ baris.id }}" role="button">Hapus</a>
          <a class="btn btn-warning" href="/datamahasiswa/update/{{ baris.id }}" role="button" data-bs-toggle="modal" data-bs-target="#formUpdate{{ baris.id }}">Edit</a>
        </td>
      </tr>



  <!-- Modal Edit Data-->
  <div class="modal fade" id="formUpdate{{ baris.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Form Edit Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/datamahasiswa/update/{{ baris.id }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.nama.label(class="form-label") }}
              {% if form.nama.errors %}
                {{ form.nama(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.nama.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.nama(class="form-control", value=baris.nama) }}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.nim.label(class="form-label") }}
              {% if form.nim.errors %}
                {{ form.nim(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.nim.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.nim(class="form-control", value=baris.nim) }}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.alamat.label(class="form-label") }}
              {% if form.alamat.errors %}
                {{ form.alamat(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.alamat.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.alamat(class="form-control", value=baris.alamat) }}
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

      {% endfor %}
    </tbody>
  </table>

  <!-- Modal Tambah Mahasiswa-->
  <div class="modal fade" id="formTambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Form Tambah Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/datamahasiswa/simpan" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.nama.label(class="form-label") }}
              {% if form.nama.errors %}
                {{ form.nama(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.nama.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.nama(class="form-control") }}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.nim.label(class="form-label") }}
              {% if form.nim.errors %}
                {{ form.nim(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.nim.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.nim(class="form-control") }}
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.alamat.label(class="form-label") }}
              {% if form.alamat.errors %}
                {{ form.alamat(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.alamat.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.alamat(class="form-control") }}
              {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Button Tambah Data -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formTambah">
  Tambah Data Mahasiswa
</button>

</div>
{% endblock %}
